*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#020617;
    color:white;
    overflow:hidden;
}

.container{
    display:flex;
    height:100vh;
}

.sidebar{
    width:280px;
    background:#050816;
    border-right:1px solid rgba(255,255,255,0.08);
    padding:20px;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:30px;
}

.logo i{
    font-size:40px;
    color:#4f46e5;
}

.logo span{
    color:#7c3aed;
    font-weight:bold;
}

.new-chat{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#4f46e5;
    color:white;
    margin-bottom:25px;
    cursor:pointer;
}

.menu-item,
.recent-item{
    padding:12px;
    margin-bottom:10px;
    border-radius:10px;
    cursor:pointer;
}

.menu-item:hover,
.recent-item:hover{
    background:rgba(255,255,255,0.05);
}

.guardrail{
    margin-top:40px;
    border:1px solid #14532d;
    padding:20px;
    border-radius:15px;
    background:rgba(34,197,94,0.08);
}

.main-chat{
    flex:1;
    display:flex;
    flex-direction:column;
}

.topbar{
    padding:20px;
    border-bottom:1px solid rgba(255,255,255,0.08);
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.profile{
    background:rgba(255,255,255,0.05);
    padding:12px 18px;
    border-radius:12px;
}

#chatbox{
    flex:1;
    padding:30px;
    overflow-y:auto;
}

.message{
    max-width:700px;
    padding:20px;
    border-radius:20px;
    line-height:1.7;
}

.bot-message{
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.08);
}

.user-message{
    background:#4f46e5;
    margin-left:auto;
}

.input-area{
    display:flex;
    gap:15px;
    padding:20px;
}

.input-box{
    flex:1;
}

.input-box input{
    width:100%;
    padding:18px;
    border:none;
    border-radius:15px;
    background:rgba(255,255,255,0.06);
    color:white;
    outline:none;
}

.input-area button{
    border:none;
    padding:18px 25px;
    border-radius:15px;
    background:#4f46e5;
    color:white;
    cursor:pointer;
}

.right-panel{
    width:320px;
    padding:20px;
    border-left:1px solid rgba(255,255,255,0.08);
}

.trace-box,
.diagnostic-box,
.escalation-box{
    background:rgba(255,255,255,0.04);
    border:1px solid rgba(255,255,255,0.08);
    padding:20px;
    border-radius:18px;
    margin-bottom:20px;
}

.trace-box li{
    margin:12px 0;
}

.footer{
    text-align:center;
    padding:12px;
    opacity:0.7;
}

.bottom-warning{
    text-align:center;
    opacity:0.7;
    margin-bottom:10px;
}

#typing{
    padding-left:30px;
    display:none;
    opacity:0.6;
}